$platinum: rgba(222, 222, 222, 1);
$sky-blue-crayola: rgba(27, 231, 255, 1);
$green-ryb: rgba(95, 173, 65, 1);
$selective-yellow: rgba(255, 184, 0, 1);
$persian-indigo: rgba(57, 20, 99, 1);
$international-orange-aerospace: rgba(255, 87, 20, 1);
